{% extends 'base.html' %}

{% block content %}
  <html>
    <body>
      <br />
      <h1 class="mb-4">Página de Pendências</h1>
      <div class="card">
        <div class="card-header text-white bg-success">Estatísticas de Pendências</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="alert alert-primary">
                <h4>Processos Totais</h4>
                <p>{{ processosTotais }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="alert alert-warning">
                <h4>Processos Pendentes</h4>
                <p>{{ processosPendentes }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="alert alert-success">
                <h4>Processos Resolvidos</h4>
                <p>{{ processosResolvidos }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container my-4">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <a href="{% url 'inserirpendencia' %}" class="card-link"><h5 class="card-title">Inserir Processo Pendente</h5></a>
                <p class="card-text">Adicione um novo processo pendente ao sistema.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <a href="{% url 'consultarpendencia' %}" class="card-link"><h5 class="card-title">Consultar de Pendências</h5></a>
                <p class="card-text">Consulte, altere o status e apague pendências do sistema.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <a href="{% url 'historico' %}" class="card-link"><h5 class="card-title">Histórico de ações</h5></a>
                <p class="card-text">O histórico de ações é um registro que acompanha as atividades realizadas no sistema.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
