{% extends 'base.html' %}

{% block content %}
  <!DOCTYPE html>
  <html>
    <body>
      <br />
      <div class="card ">
         <div class="card-header text-center">Funcionalidades</div>
        <div class="card-body">
          <div class="container">
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
              <div class="col-sm-15">
                <div class="row">
                  <div class="col-8 col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                      <div class="card-header">Pendência</div>
                      <div class="card-body">
                        <h5 class="card-title">Inserir a pendência na gaveta.</h5>
                        <p class="card-text">Esta é a área onde os processos que estão prestes a serem inseridos na gaveta de pendências são inicialmente reunidos e organizados.</p>
                        <a class="btn btn-primary" href="{% url 'inserirpendencia' %}" role="button">Inserir</a>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-8 col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                      <div class="card-header">Pendência</div>
                      <div class="card-body">
                        <h5 class="card-title">Inserir a pendência na gaveta.</h5>
                        <p class="card-text">Esta é a área onde os processos que estão prestes a serem inseridos na gaveta de pendências são inicialmente reunidos e organizados.</p>
                        <button type="button" class="btn btn-info">Inserir</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-8 col-sm-4">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                      <div class="card-header">Pendência</div>
                      <div class="card-body">
                        <h5 class="card-title">Inserir a pendência na gaveta.</h5>
                        <p class="card-text">Esta é a área onde os processos que estão prestes a serem inseridos na gaveta de pendências são inicialmente reunidos e organizados.</p>
                        <button type="button" class="btn btn-info">Inserir</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </body>
  </html>
{% endblock %}
