{% extends 'base.html' %}
{% block content %}
<html>
   <body>
      <div class="container d-flex justify-content-center align-items-center vh-100">
          <div class="card">
              <div class="card-body text-center">
                  <h1 class="card-title">Erro na Inserção de Pendência</h1>
                  <div class="alert alert-danger my-4">
                      <strong>Erro:</strong> {{ error }}
                  </div>
                  <a href="{% url 'inserirpendencia' %}" class="btn btn-primary">Voltar para o formulário</a>
              </div>
          </div>
      </div>
  </body>
</html>
{% endblock content %}