{% extends 'base.html' %}
{% block content %}
  <html>
    <body>
      <br />
      <br />
      <div class="container justify-content-center" style="width: 60%;">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Excluir Pendência!!!</h1>
            <div class="alert alert-danger my-4">
              <b>Dados da Pendência</b>
              <h5 class="card-title">ID: {{ pendencia.id }}</h5>
              <p class="card-text">Nome da Pessoa: {{ pendencia.nome_pessoa }}</p>
              <p class="card-text">Código Renach: {{ pendencia.codigo_pa }}</p>
              <p class="card-text">CPF: {{ pendencia.cpf }}</p>
              <p class="card-text">Descrição da Pendência: {{ pendencia.descricao }}</p>
            </div>
            <h4 class="text-center">Confirme a senha para excluir pendência</h4>
            <form method="POST" action="{% url 'excluirpendencia' pendencia_id=pendencia.id %}">
              {% csrf_token %}

              <div class="form-group text-center">
                <div class="container text-center" style="width: 70%;">
                  {% if messages %}
                    <div class="alert alert-danger">
                      <ul class="list-unstyled">
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  <label for="password">Digite sua senha para confirmar a exclusão:</label>
                  <input type="password" class="form-control" id="password" name="password" required />
                </div>
              </div>
              <br />
              <div class="text-center container" style="width: 50%;">
                <button type="submit" class="btn btn-danger text-center">Excluir Objeto</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
